/* ImageAlbum.module.css */

.container {
  align-items: center;
  border: 3px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 37px;
  transition: border-color 0.3s;
  width: 180px; /* Adjusted width to 100% for better responsiveness */
  
}
.container:hover{
  border: 3px solid #a0a0f9;
  .text{
    background-color: #a0a0f9;
  }
}

.container .img {
  margin-bottom: 11px;
  margin-top: 15px;
  width: 25%;
  height: 100%;
}

.container .text {
  background-color: #eee;
  font-size: 0.6rem; /* Adjusted font size for better readability */
  font-weight: 700;
  justify-self: baseline;
  padding: 10px; /* Increased padding for better spacing */
  text-align: center;
  transition: 0.3s;
  width: 100%;
  overflow: hidden;
}

