.searchBox{
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: nowrap;
}

input{
  font-size: 0.6rem;
  font-weight: 300;
  outline: none;
  padding: 10px 10px 5px 20px;
}

#icon{
  cursor: pointer;
  width: 20%;
}